   <li>
            <h3>Animation</h3>
            <p>
              Learn the latest animation techniques to create stunning motion
              design and captivate your audience.
            </p>
            <a href="/animation" class="btn" data-variant="ghost"
              >Get started</a
            >
          </li>