 <header>
        <div class="content">
          <h1>Maximize skill, minimize budget</h1>
          <p>
            Our modern courses across a range of in-demand skills will give you
            the knowledge you need to live the life you want.
          </p>
          <a href="/courses" class="btn" data-variant="primary">Get started</a>
        </div>
        <figure>
          <img src="/imgs/image.jpg" width="400" alt="" />
        </figure>
      </header>